.fundoheader {
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-preto-antigo-textura-do-grunge-papel-de-parede-escuro-quadro-negro-quadro-negro-parede-da-sala_1258-28313.jpg);
    background-repeat: repeat-x;
    padding: 20px;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.ajusteBotao {
    margin-left: 2%;
}

.ajusteLocal {
    margin-top: 2%;
}