<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img
      src="https://cdn2.steamgriddb.com/file/sgdb-cdn/logo_thumb/594d480b5b40f5f91bd42433fa91c90c.png"
      class="logo2 imagem3"
    />
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/93737af0-2d8c-419d-8b6c-a128a96b8ed7/davcu8u-f0f62ce7-e682-4859-b91d-53e1558758c6.png/v1/fill/w_680,h_1075/papa_louie_by_katonator_davcu8u-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA3NSIsInBhdGgiOiJcL2ZcLzkzNzM3YWYwLTJkOGMtNDE5ZC04YjZjLWExMjhhOTZiOGVkN1wvZGF2Y3U4dS1mMGY2MmNlNy1lNjgyLTQ4NTktYjkxZC01M2UxNTU4NzU4YzYucG5nIiwid2lkdGgiOiI8PTY4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.X8MBzW2jMvQaw0DeNtsTwFRsBpvXNRe-IBKpZJMxYlY"
      class="logo imagem3"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="pedidos"><mat-icon class="icone" fontIcon="home"></mat-icon>Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="sabores">Sabores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="funcionarios">Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ajusteNav imagem1" routerLink="">Sair</a>
        </li>
      </ul>
      <img
      src="https://static.tvtropes.org/pmwiki/pub/images/roy_original.png"
      class="logo3 imagem3"
    />
    </div>
  </div>
</nav>
