<div>
    <h1 class="ajustarTitulo">Seja bem-vindo ao Papa's Pizzeria!</h1>
    <h2 class="ajustarSubTitulo">Tamanhos de pizzas disponíveis abaixo:</h2>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://top15pizzaria.com.br/imagens/2305201916585413pizza-grande-salgada.svg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Grande Salgada</h5>
          <p class="card-text">A pizza grande salgada acompanha 8 fatias de pizza podendo conter até 2 sabores presentes na pizza.</p>
          <p class="card-text"><small class="text-body-secondary">R$28,00 até R$60,00</small></p>
        </div>
      </div>
    </div>
  </div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://top15pizzaria.com.br/imagens/3105201914153415pizza-pequena-salgada.svg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pequena Salgada</h5>
          <p class="card-text">A pizza grande salgada acompanha 4 fatias de pizza podendo conter até 2 sabores presentes na pizza.</p>
          <p class="card-text"><small class="text-body-secondary">R$18,00 até R$38,00</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn-icons-png.flaticon.com/512/3081/3081985.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bebidas</h5>
          <p class="card-text">Adicione as bebidas na hora de adicionar ao carrinho, vendemos as seguintes bebidas: Sprite, Coca-cola, Fanta, Sucos e Água com e sem gás!</p>
          <p class="card-text"><small class="text-body-secondary">Preços variam dependendo doque pedir.</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3acc143-332f-43c9-8707-d61106b45a55/dfzonq9-7040717e-9a2c-4c18-924b-196c43585b7b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IzYWNjMTQzLTMzMmYtNDNjOS04NzA3LWQ2MTEwNmI0NWE1NVwvZGZ6b25xOS03MDQwNzE3ZS05YTJjLTRjMTgtOTI0Yi0xOTZjNDM1ODViN2IucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9cxjnFbNO71ibXrGlQzevbHQYN81wZ0gykh6Klo6qr8" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Promoções!</h5>
          <p class="card-text">Fique esperto! Temos promoções semanais que cabem dentro do seu bolso!</p>
          <p class="card-text"><small class="text-body-secondary">NÃO PERCA TEMPO! PEÇA JÁ!</small></p>
        </div>
      </div>
    </div>
  </div>