.card {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-top: 2%;
    

}

card mb-3 {

    padding: 50px;
}

.ajustarTitulo { 
    color: rgb(181, 159, 22);
    text-align: center;
}

.ajustarSubTitulo { 
    color: rgb(68, 59, 59);
    text-align: center;
}