  <!-- <ng-template #modal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Adicionar nova pizza</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-pizza-details
        [pizza]="objetoSelecionadoParaEdicao"
        (retorno)="addOuEditarPizza($event)"
      ></app-pizza-details>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Fechar
      </button>
    </div>
  </ng-template> -->
  