.fundoheader {
    background-image: url(https://cdn.awsli.com.br/2500x2500/2491/2491876/produto/209837351/17712---xadrez-vermelho-gntl1740mv.png);
    background-repeat: repeat-x;
    padding: 20px;
    border-radius: 5px;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: black;
}

.ajusteLocal {
    margin-top: 2%;
}