<div class="container ajusteLocal">
  <h3 class="alert fundoheader">Listagem de sabores!</h3>
  <button type="button" class="btn btn-danger" (click)="adicionar(modal1)">
    Adicionar
  </button>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sabores of lista; let i = index">
            <th scope="row">{{ sabores.id }}</th>
            <td>{{ sabores.nomeSabor }}</td>
            <td>{{ sabores.ingredientes }}</td>
            <td *ngIf="!modoLancamento">
              <button
                type="button"
                class="btn btn-dark"
                (click)="editar(modal1, sabores, i)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-danger ajusteBotao"
                (click)="deletar(sabores.id)"
              >
                Deletar
              </button>
            </td>
            <td *ngIf="modoLancamento">
              <button
                type="button"
                class="btn btn-primary"
                (click)="lancamento(sabores)"
              >
                Lançar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Adicionar novo sabor</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-sabores-details
      [sabor]="objetoSelecionadoParaEdicao"
      (retorno)="addOuEditarSabor($event)"
    ></app-sabores-details>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Fechar
    </button>
  </div>
</ng-template>
