<h2>Cardápio Papa's Pizzeria:</h2>

<div><button>Faça seu pedido</button></div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/18082017174721.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Bacon</p>
    <p class="verde">R$28,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201133.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Calabresa</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/15062019223359.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Champignon</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201320.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Coração</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201604.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Hotdog</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201623.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Lombinho</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201933.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Milho</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202104.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Palmito</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202128.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Peperone</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/09082017174328.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Tropical</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/21082017164002.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Paulista</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/09082017174328.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Tropical</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202054.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Napolitana</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201555.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Holandesa</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017200838.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Alho e oléo</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017201052.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Baiana</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202200.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Quatro Queijos</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/13092017141531.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Vegetariana</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202222.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Salame</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202511.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Chocolate</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

<div class="card" style="width: 12rem">
  <img
    src="https://deliveryplanetapizza.com.br/imagens/01082017202554.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="card-text">Chocolate Branco</p>
    <p class="verde">R$30,00</p>
  </div>
</div>

